
<!-- About -->
<div id="about" class="section md-padding">
        
                <!-- Container -->
                <div class="container">
        
                    <!-- Row -->
                    <div class="row">
        
                        <!-- Section header -->
                        <div class="section-header text-center">
                            <h2 class="title">Coding Club</h2>
                        </div>
                        <!-- /Section header -->
        
                        <!-- about -->
                        <div class="col-md-4">
                            <div class="about">
                                <i class="fa fa-rocket"></i>
                                <h3>Programming With Scratch</h3>
                                <p>We aim to teach students the basics of scratch in order for them to branch out and create programs of their own.</p>
                            </div>
                        </div>
                        <!-- /about -->
        
                        <!-- about -->
                        <div class="col-md-4">
                            <div class="about">
                                <i class="fa fa-flask"></i>
                                <h3>Creative Ideas</h3>
                                <p>Students need to be resourceful and utilize their problem solving skills in order to reproduce their ideas.</p>
                            </div>
                        </div>
                        <!-- /about -->
        
                        <!-- about -->
                        <div class="col-md-4">
                            <div class="about">
                                <i class="fa fa-users"></i>
                                <h3>Preparing for the Future</h3>
                                <p>The challenge and problem solving skills involved with programming will help prepare students for the many challenges they will face in the future.</p>
                            </div>
                        </div>
                        <!-- /about -->
        
                    </div>
                    <!-- /Row -->
        
                </div>
                <!-- /Container -->
        
            </div>
            <!-- /About -->