<!-- Background Image -->
<div class="bg-img" style="background-image: url('./img/School/side-view.jpg');">
    <div class="overlay"></div>
</div>
<!-- /Background Image -->
<!-- Footer -->
	<footer id="footer" class="sm-padding">
            
                    <!-- Background Image -->
                    <div class="bg-img" style="background-image: url('./img/School/side-view.jpg');">
                        <div class="overlay"></div>
                    </div>
                    <!-- /Background Image -->
                    <!-- Container -->
                    <div class="container">
            
                        <!-- Row -->
                        <div class="row">
            
                            <div class="col-md-12">
            
                                <!-- footer logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="img/Logos/header-logo.png" alt="logo"></a>
                                </div>
                                <!-- /footer logo -->
            
                                <!-- footer follow -->
                                <ul class="footer-follow">
                                    <li><a target="_blank" rel="noopener" href="https://www.facebook.com/ImagineSchoolsRiverside/"><i class="fab fa-facebook-f"></i></a></li>
                                    <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li> -->
                                    <li><a target="_blank" rel="noopener" href="#"><i class="fab fa-instagram"></i></a></li>
                                    <!-- <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li> -->
                                </ul>
                                <!-- /footer follow -->
            
                                <!-- footer copyright -->
                                <!--  -->
                                <!-- /footer copyright -->
            
                            </div>
            
                        </div>
                        <!-- /Row -->
            
                    </div>
                    <!-- /Container -->
            
                </footer>
<!-- /Footer -->