
            <!-- portfolio -->
            <div id="portfolio" class="portfolio section wow fadeInUp md-padding bg-grey">
              <div class ="container">
                <div class="row">
            <!-- Section header -->
            <div class="section-header text-center">
              <h2 class="title">Featured Photos</h2>
          </div>
          <!-- /Section header -->
            <div id="myBtnContainer" class="section-header text-center">
              <button class="btn active" onclick="filterSelection('all')"> Show all</button>
              <button class="btn" onclick="filterSelection('classwork')"> Classwork</button>
              <button class="btn" onclick="filterSelection('projects')"> Projects</button>
              <button class="btn" onclick="filterSelection('fun')"> Fun</button>
            </div>
            
            <!-- Portfolio Gallery Grid -->
            <div class="row">
            {% for proj in site.data.portfolio %}
            {%if proj.category == "Classwork"%}
              <div class="column classwork">
                <div class="content">
                  <img class="img-responsive" src="{{proj.imagePath}}" alt="">
                  <div class="overlay"></div>
                <div class="work-content">
                    <span>{{proj.category}}</span>
                    <h3>{{proj.description}}</h3>
                    <div class="work-link">
                        {% if proj.link != "" %}
                        <a target="_blank" rel="noopener" href="{{proj.link}}"><i class="fas fa-laptop-code"></i></a>
                        {% endif %}
                        <a class="lightbox" href="{{proj.imagePath}}"><i class="fas fa-expand"></i></a>
                    </div>
              </div>
              </div>
              </div>
              {%else if proj.category == "Project"%}
            
              <div class="column projects">
                <div class="content">
                  <img class="img-responsive" src="{{proj.imagePath}}" alt="">
                  <div class="overlay"></div>
                <div class="work-content">
                    <span>{{proj.category}}</span>
                    <h3>{{proj.description}}</h3>
                    <div class="work-link">
                        {% if proj.link != "" %}
                        <a target="_blank" rel="noopener" href="{{proj.link}}"><i class="fas fa-laptop-code"></i></a>
                        {% endif %}
                        <a class="lightbox" href="{{proj.imagePath}}"><i class="fas fa-expand"></i></a>
                    </div>
                </div>
              </div>
              </div>

              {%else if proj.category == "Fun"%}
            <div>
              <div class="column fun">
                <div class="content">
                  <div class="overlay"></div>
                  <img class="img-responsive" src="{{proj.imagePath}}" alt="">
                <div class="work-content">
                    <span>{{proj.category}}</span>
                    <h3>{{proj.description}}</h3>
                    <div class="work-link">
                        {% if proj.link != "" %}
                        <a target="_blank" rel="noopener" href="{{proj.link}}"><i class="fas fa-laptop-code"></i></a>
                        {% endif %}
                        <a class="lightbox" href="{{proj.imagePath}}"><i class="fas fa-expand"></i></a>
                    </div>
                </div>
              </div>
              </div>
              </div>
              {% endif %}
              {% endfor %}
            <!-- END GRID -->
            </div>
            </div>
            </div>
            </div>
            <!-- portfolio -->

            <div id="myBtnContainer">
                <button class="btn active" onclick="filterSelection('all')"> Show all</button>
                <button class="btn" onclick="filterSelection('nature')"> Nature</button>
                <button class="btn" onclick="filterSelection('cars')"> Cars</button>
                <button class="btn" onclick="filterSelection('people')"> People</button>
              </div>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column nature">
    <div class="content portfolio">
      <img src="/w3images/mountains.jpg" alt="Mountains" style="width:100%">
      <h4>Mountains</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column nature">
    <div class="content">
      <img src="/w3images/lights.jpg" alt="Lights" style="width:100%">
      <h4>Lights</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column nature">
    <div class="content">
      <img src="/w3images/nature.jpg" alt="Nature" style="width:100%">
      <h4>Forest</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>

  <div class="column cars">
    <div class="content">
      <img src="/w3images/cars1.jpg" alt="Car" style="width:100%">
      <h4>Retro</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column cars">
    <div class="content">
      <img src="/w3images/cars2.jpg" alt="Car" style="width:100%">
      <h4>Fast</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column cars">
    <div class="content">
      <img src="/w3images/cars3.jpg" alt="Car" style="width:100%">
      <h4>Classic</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>

  <div class="column people">
    <div class="content">
      <img src="/w3images/people1.jpg" alt="People" style="width:100%">
      <h4>Girl</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column people">
    <div class="content">
      <img src="/w3images/people2.jpg" alt="People" style="width:100%">
      <h4>Man</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column people">
    <div class="content">
      <img src="/w3images/people3.jpg" alt="People" style="width:100%">
      <h4>Woman</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
<!-- END GRID -->
</div>