
<!-- Portfolio -->
<div id="portfolio" class="section md-padding bg-grey">
        
                <!-- Container -->
                <div class="container">
        
                    <!-- Row -->
                    <div class="row">
        
                        <!-- Section header -->
                        <div class="section-header text-center">
                            <h2 class="title">Featured Projects</h2>
                        </div>
                        <!-- /Section header -->
        
                        <!-- Work -->
                        <div class="col-md-4 col-xs-6 work">
                            <img class="img-responsive" src="./img/DJI_0127-compressor.jpg" alt="">
                            <div class="overlay"></div>
                            <div class="work-content">
                                <span>Category</span>
                                <h3>Lorem ipsum dolor</h3>
                                <div class="work-link">
                                    <a href="#"><i class="fas fa-laptop-code"></i></a>
                                    <a class="lightbox" href="./img/DJI_0154-compressor.jpg"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /Work -->
        
                        <!-- Work -->
                        <div class="col-md-4 col-xs-6 work">
                            <img class="img-responsive" src="./img/DJI_0140-compressor.jpg" alt="">
                            <div class="overlay"></div>
                            <div class="work-content">
                                <span>Category</span>
                                <h3>Lorem ipsum dolor</h3>
                                <div class="work-link">
                                    <a href="#"><i class="fas fa-laptop-code"></i></a>
                                    <a class="lightbox" href="./img/DJI_0139-compressor.jpg"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /Work -->
        
                        <!-- Work -->
                        <div class="col-md-4 col-xs-6 work">
                            <img class="img-responsive" src="./img/IMG_9701-compressor.jpg" alt="">
                            <div class="overlay"></div>
                            <div class="work-content">
                                <span>Category</span>
                                <h3>Lorem ipsum dolor</h3>
                                <div class="work-link">
                                    <a href="#"><i class="fas fa-laptop-code"></i></a>
                                    <a class="lightbox" href="./img/DJI_0127-compressor.jpg"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /Work -->
        
                        <!-- Work -->
                        <div class="col-md-4 col-xs-6 work">
                            <img class="img-responsive" src="./img/IMG_9685-compressor.jpg" alt="">
                            <div class="overlay"></div>
                            <div class="work-content">
                                <span>Category</span>
                                <h3>Lorem ipsum dolor</h3>
                                <div class="work-link">
                                    <a href="#"><i class="fas fa-laptop-code"></i></a>
                                    <a class="lightbox" href="./img/IMG_9685-compressor.jpg"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /Work -->
        
                        <!-- Work -->
                        <div class="col-md-4 col-xs-6 work">
                            <img class="img-responsive" src="./img/IMG_9685-compressor.jpg" alt="">
                            <div class="overlay"></div>
                            <div class="work-content">
                                <span>Category</span>
                                <h3>Lorem ipsum dolor</h3>
                                <div class="work-link">
                                    <a href="#"><i class="fas fa-laptop-code"></i></a>
                                    <a class="lightbox" href="./img/IMG_9685-compressor.jpg"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /Work -->
        
                        <!-- Work -->
                        <div class="col-md-4 col-xs-6 work">
                            <img class="img-responsive" src="./img/IMG_9685-compressor.jpg" alt="">
                            <div class="overlay"></div>
                            <div class="work-content">
                                <span>Category</span>
                                <h3>Lorem ipsum dolor</h3>
                                <div class="work-link">
                                    <a href="#"><i class="fas fa-laptop-code"></i></a>
                                    <a class="lightbox" href="./img/IMG_9685-compressor.jpg"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /Work -->
        
                    </div>
                    <!-- /Row -->
        
                </div>
                <!-- /Container -->
        
            </div>
            <!-- /portfolio -->