<!-- portfolio -->
<div id="portfolio" class="section md-paddingy">
    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">
            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">Featured Items</h2>
            </div>
            <!-- /Section header -->
            <div id="myBtnContainer" class="section-header text-center">
                <button class="btn" onclick="filterSelection('all')">
                Show all
            </button>
                <button class="btn active" onclick="filterSelection('projects')">
                Projects
            </button>
                <button class="btn" onclick="filterSelection('classwork')">
                Classwork
            </button>
                <!-- <button class="btn" onclick="filterSelection('fun')"> Fun</button> -->
            </div>

            <!-- Portfolio Gallery Grid -->
            {% for proj in site.data.portfolio %} {%if proj.category == "Projects"%}
            <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="work projects">
                    <img class="img-responsive" src="{{ proj.imagePath }}" alt="" />
                    <div class="overlay"></div>
                    <div class="work-content">
                        <span>{{ proj.category }}</span>
                        <h3>{{ proj.description }}</h3>
                        <div class="work-link">
                            {% if proj.link != "" %}
                            <a target="_blank" rel="noopener" href="{{ proj.link }}"><i class="fas fa-laptop-code"></i
                                ></a> {% endif %}
                            <a class="lightbox" href="{{ proj.imagePath }}"><i class="fas fa-expand"></i
                                ></a>
                        </div>
                    </div>
                </div>
            </div>
            {%else if proj.category == "Classwork"%}
            <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="work classwork">
                    <img class="img-responsive" src="{{ proj.imagePath }}" alt="" />
                    <div class="overlay"></div>
                    <div class="work-content">
                        <span>{{ proj.category }}</span>
                        <h3>{{ proj.description }}</h3>
                        <div class="work-link">
                            {% if proj.link != "" %}
                            <a target="_blank" rel="noopener" href="{{ proj.link }}"><i class="fas fa-laptop-code"></i
                                ></a> {% endif %}
                            <a class="lightbox" href="{{ proj.imagePath }}"><i class="fas fa-expand"></i
                                ></a>
                        </div>
                    </div>
                </div>
            </div>
            {%else if proj.category == "Fun"%}
            <!-- <div class="col-xs-12 col-md-4 col-lg-3">
                <div class="work fun">
                    <div class="overlay"></div>
                    <img class="img-responsive" src="{{ proj.imagePath }}" alt="" />
                    <div class="work-content">
                        <span>{{ proj.category }}</span>
                        <h3>{{ proj.description }}</h3>
                        <div class="work-link">
                            {% if proj.link != "" %}
                            <a target="_blank" rel="noopener" href="{{ proj.link }}"><i class="fas fa-laptop-code"></i
                            ></a> {% endif %}
                            <a class="lightbox" href="{{ proj.imagePath }}"><i class="fas fa-expand"></i
                            ></a>
                        </div>
                    </div>
                </div>
            </div> -->
            {% endif %} {% endfor %}
            <!-- END GRID -->
        </div>
        <!-- Row -->
    </div>
    <!-- Container -->
</div>
<!-- portfolio -->