
<!-- Team -->
<div id="team" class="section md-padding">
        
            <!-- Container -->
            <div class="container">
        
                <!-- Row -->
                <div class="row">
        
                    <!-- Section header -->
                    <div class="section-header text-center">
                        <h2 class="title">Our Developers</h2>
                    </div>
                    <!-- /Section header -->
        
                    <!-- team -->
                    <div class="col-xs-12 col-md-4 col-lg-3">
                        <div class="team">
                            <div class="team-img">
                                <img class="img-responsive" src="./img/KathyC.JPG" alt="">
                                <div class="overlay">
                                    <div class="team-social">
                                        <a href="https://scratch.mit.edu/"><i class="fas fa-laptop-code"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-content">
                                <h3>Kathy Carrera</h3>
                                <span>Scratch Developer</span>
                            </div>
                        </div>
                    </div>
                    <!-- /team -->
        
                    <!-- team -->
                    <div class="col-xs-12 col-md-4 col-lg-3">
                        <div class="team">
                            <div class="team-img">
                                <img class="img-responsive" src="./img/IoryL.JPG" alt="">
                                <div class="overlay">
                                    <div class="team-social">
                                        <a href="https://scratch.mit.edu/"><i class="fas fa-laptop-code"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-content">
                                <h3>Iory Libatique</h3>
                                <span>Scratch Developer</span>
                            </div>
                        </div>
                    </div>
                    <!-- /team -->
        
                    <!-- team -->
                    <div class="col-xs-12 col-md-4 col-lg-3">
                        <div class="team">
                            <div class="team-img">
                                <img class="img-responsive" src="./img/SalvadorG.JPG" alt="">
                                <div class="overlay">
                                    <div class="team-social">
                                        <a href="https://scratch.mit.edu/"><i class="fas fa-laptop-code"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-content">
                                <h3>Salvador Guerrero</h3>
                                <span>Scratch Developer</span>
                            </div>
                        </div>
                    </div>
                    <!-- /team -->
        
                    <!-- team -->
                    <div class="col-xs-12 col-md-4 col-lg-3">
                        <div class="team">
                            <div class="team-img">
                                <img class="img-responsive" src="./img/AneleI.JPG" alt="">
                                <div class="overlay">
                                    <div class="team-social">
                                        <a href="https://scratch.mit.edu/"><i class="fas fa-laptop-code"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-content">
                                <h3>Anele Islas</h3>
                                <span>Scratch Developer</span>
                            </div>
                        </div>
                    </div>
                    <!-- /team -->
        
                    <!-- team -->
                    <div class="col-xs-12 col-md-4 col-lg-3">
                        <div class="team">
                            <div class="team-img">
                                <img class="img-responsive" src="./img/MiaR.JPG" alt="">
                                <div class="overlay">
                                    <div class="team-social">
                                        <a href="https://scratch.mit.edu/"><i class="fas fa-laptop-code"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-content">
                                <h3>Mia Rindone</h3>
                                <span>Scratch Developer</span>
                            </div>
                        </div>
                    </div>
                    <!-- team -->
        
                    <!-- team -->
                    <div class="col-xs-12 col-md-4 col-lg-3">
                        <div class="team">
                            <div class="team-img">
                                <img class="img-responsive" src="./img/NataliaG.JPG" alt="">
                                <div class="overlay">
                                    <div class="team-social">
                                        <a href="https://scratch.mit.edu/"><i class="fas fa-laptop-code"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-content">
                                <h3>Natalia Garcia</h3>
                                <span>Scratch Developer</span>
                            </div>
                        </div>
                    </div>
                    <!-- team -->
        
                    <!-- team -->
                    <div class="col-xs-12 col-md-4 col-lg-3">
                        <div class="team">
                            <div class="team-img">
                                <img class="img-responsive" src="./img/IsabellaG.JPG" alt="">
                                <div class="overlay">
                                    <div class="team-social">
                                        <a href="https://scratch.mit.edu/"><i class="fas fa-laptop-code"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-content">
                                <h3>Isabella Gudino</h3>
                                <span>Scratch Developer</span>
                            </div>
                        </div>
                    </div>
                    <!-- team -->
        
                    <!-- team -->
                    <div class="col-xs-12 col-md-4 col-lg-3">
                        <div class="team">
                            <div class="team-img">
                                <img class="img-responsive" src="./img/KaelynB.JPG" alt="">
                                <div class="overlay">
                                    <div class="team-social">
                                        <a href="https://scratch.mit.edu/"><i class="fas fa-laptop-code"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-content">
                                <h3>Kaelyn Bojorquez</h3>
                                <span>Scratch Developer</span>
                            </div>
                        </div>
                    </div>
                    <!-- team -->
        
                    <!-- team -->
                    <div class="col-xs-12 col-md-4 col-lg-3">
                        <div class="team">
                            <div class="team-img">
                                <img class="img-responsive" src="./img/OliverM.JPG" alt="">
                                <div class="overlay">
                                    <div class="team-social">
                                        <a href="https://scratch.mit.edu/"><i class="fas fa-laptop-code"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-content">
                                <h3>Oliver Martinez</h3>
                                <span>Scratch Developer</span>
                            </div>
                        </div>
                    </div>
                    <!-- team -->
        
                    <!-- team -->
                    <div class="col-xs-12 col-md-4 col-lg-3">
                        <div class="team">
                            <div class="team-img">
                                <img class="img-responsive" src="./img/IsaacG.JPG" alt="">
                                <div class="overlay">
                                    <div class="team-social">
                                        <a href="https://scratch.mit.edu/"><i class="fas fa-laptop-code"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-content">
                                <h3>Isaac Gutierrez</h3>
                                <span>Scratch Developer</span>
                            </div>
                        </div>
                    </div>
                    <!-- team -->
        
                    <!-- team -->
                    <div class="col-xs-12 col-md-4 col-lg-3">
                       <div class="team">
                           <div class="team-img">
                                  <img class="img-responsive" src="./img/FernandaP.JPG" alt="">
                                            <div class="overlay">
                                                <div class="team-social">
                                                    <a href="https://scratch.mit.edu/"><i class="fas fa-laptop-code"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="team-content">
                                            <h3>Fernanda Penuelas</h3>
                                            <span>Scratch Developer</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- team -->
        
                                <div class="col-xs-12 col-md-4 col-lg-3">
                                    <div class="team">
                                        <div class="team-img">
                                               <img class="img-responsive" src="./img/DominikO.JPG" alt="">
                                                         <div class="overlay">
                                                             <div class="team-social">
                                                                <a href="https://scratch.mit.edu/"><i class="fas fa-laptop-code"></i></a>
                                                             </div>
                                                         </div>
                                                     </div>
                                                     <div class="team-content">
                                                         <h3>Dominik Ortega</h3>
                                                         <span>Scratch Developer</span>
                                                     </div>
                                                 </div>
                                             </div>
                                             <!-- team -->
                     
        
                </div>
                <!-- /Row -->
        
            </div>
            <!-- /Container -->
        
        </div>
        <!-- /Team -->