<!-- Team -->
<div id="team" class="section md-padding">
    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">
            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">Our Developers</h2>
            </div>
            <!-- /Section header -->
            <!-- team -->
            {% for member in site.data.team %}
            <div class="col-xs-12 col-md-4 col-lg-3">
                <div class="team">
                    <div class="team-img">
                        {% if member.imagePath == "" %}
                        <img
                            class="img-responsive"
                            src="./img/Team/default-user-image.png"
                            alt=""
                        />
                        <div class="overlay">
                            {% for proj in member.projects %}
                            <div class="team-social">
                                <a
                                    target="_blank"
                                    rel="noopener"
                                    href="{{ proj }}"
                                    ><i class="fas fa-laptop-code"></i
                                ></a>
                            </div>
                            {% endfor %}
                        </div>
                        {% else%}
                        <img
                            class="img-responsive"
                            src="{{ member.imagePath }}"
                            alt=""
                        />
                        <div class="overlay">
                            {% for proj in member.projects %}
                            <div class="team-social">
                                <a
                                    target="_blank"
                                    rel="noopener"
                                    href="{{ proj }}"
                                    ><i class="fas fa-laptop-code"></i
                                ></a>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="team-content">
                        <h3>{{ member.firstName }} {{ member.lastName }}</h3>
                        <span>{{ member.title }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- /team -->
        </div>
        <!-- /Row -->
    </div>
    <!-- /Container -->
</div>
